HSC.RTD.AVLAggregatorCore/Schemas/AVLAggregator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<wsdl:definitions targetNamespace="http://mohltc.on.ca/xmlns/avl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://mohltc.on.ca/xmlns/avl"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="http://mohltc.on.ca/xmlns/avl">
            <s:element name="Login">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="MessageXml"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LoginResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="LoginResult"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Logout">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="MessageXml"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LogoutResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="LogoutResult"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastPosition">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="MessageXml"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastPositionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="LastPositionResult"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastPosition16">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="MessageXml"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="LastPosition16Response">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0"
                                   maxOccurs="1"
                                   name="LastPosition16Result"
                                   type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="LoginSoapIn">
        <wsdl:part name="parameters"
                   element="tns:Login" />
    </wsdl:message>
    <wsdl:message name="LoginSoapOut">
        <wsdl:part name="parameters"
                   element="tns:LoginResponse" />
    </wsdl:message>
    <wsdl:message name="LogoutSoapIn">
        <wsdl:part name="parameters"
                   element="tns:Logout" />
    </wsdl:message>
    <wsdl:message name="LogoutSoapOut">
        <wsdl:part name="parameters"
                   element="tns:LogoutResponse" />
    </wsdl:message>
    <wsdl:message name="LastPositionSoapIn">
        <wsdl:part name="parameters"
                   element="tns:LastPosition" />
    </wsdl:message>
    <wsdl:message name="LastPositionSoapOut">
        <wsdl:part name="parameters"
                   element="tns:LastPositionResponse" />
    </wsdl:message>
    <wsdl:portType name="AVLSoap">
        <wsdl:operation name="Login">
            <wsdl:input message="tns:LoginSoapIn" />
            <wsdl:output message="tns:LoginSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="Logout">
            <wsdl:input message="tns:LogoutSoapIn" />
            <wsdl:output message="tns:LogoutSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="LastPosition">
            <wsdl:input message="tns:LastPositionSoapIn" />
            <wsdl:output message="tns:LastPositionSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AVLSoap12"
                  type="tns:AVLSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Login">
          <soap12:operation soapActionRequired="false"
                              style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Logout">
            <soap12:operation soapAction="http://mohltc.on.ca/xmlns/avl/Logout"
                              style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LastPosition">
            <soap12:operation soapAction="http://mohltc.on.ca/xmlns/avl/LastPosition"
                              style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AVLAggregator">
        <wsdl:port name="AVLSoap12"
                   binding="tns:AVLSoap12">
            <soap12:address location="http://localhost/avl" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>