HSC.RTD.AVLAggregatorCore/Schemas/AVLDataTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ServerDateTimeType">
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{4}-\d\d-\d\d \d\d:\d\d:\d\d [+\-]\d\d:\d\d" />
      </xs:restriction>
    </xs:simpleType>
  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageID"
                    type="xs:int"
                    minOccurs="0" />
        <xs:element name="SessionID"
                    type="xs:int"
                    minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LoginRequest">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomerName"
                                      type="xs:string" />
                          <xs:element name="Password"
                                      type="xs:string" />
                          <xs:element name="ClientIP"
                                      type="xs:string" />
                          <xs:element name="TimeZone"
                                      type="xs:string"
                                      minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LoginResponse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Status"
                                      type="xs:boolean" />
                          <xs:element name="Description"
                                      type="xs:string" />
                          <xs:element name="ServerDateTime" type="ServerDateTimeType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LogoutRequest">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CustomerName"
                                      type="xs:string" />
                          <xs:element name="ClientIP"
                                      type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LogoutResponse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Status"
                                      type="xs:boolean" />
                          <xs:element name="Description"
                                      type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastPositionRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LastPositionRequest">
                      <xs:complexType />
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LastPositionResponseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="LastPositionResponse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Status"
                                      type="xs:boolean" />
                          <xs:element name="Description"
                                      type="xs:string" />
                          <xs:element name="VehicleList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Vehicle"
                                            minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="VehicleName"
                                                  type="xs:string" />
                                      <xs:element name="Latitude"
                                                  type="xs:decimal" />
                                      <xs:element name="Longitude"
                                                  type="xs:decimal" />
                                      <xs:element name="Datum"
                                                  type="xs:string" />
                                      <xs:element name="DateTime"
                                                  type="xs:string" />
                                      <xs:element name="Speed"
                                                  type="xs:int" />
                                      <xs:element name="Bearing"
                                                  type="xs:int" />
                                      <xs:element name="IP"
                                                  type="xs:string" />
                                      <xs:element name="Rates" minOccurs="1">
                                        <xs:complexType>
                                          <xs:attribute name="Rate1" type="xs:string" />
                                          <xs:attribute name="Rate2" type="xs:string" />
                                          <xs:attribute name="Rate3" type="xs:string" />
                                          <xs:attribute name="Rate4" type="xs:string" />
                                          <xs:attribute name="Rate5" type="xs:string" />
                                          <xs:attribute name="Rate6" type="xs:string" />
                                          <xs:attribute name="Rate7" type="xs:string" />
                                          <xs:attribute name="Rate8" type="xs:string" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ID"
                                                  type="xs:string"
                                                  use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportDataRequestType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ExportDataRequest">
                      <xs:complexType>
                        <xs:sequence id="Reports">
                          <xs:element name="Reports">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Report"
                                            minOccurs="0"
                                            maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:attribute name="Address"
                                                  type="xs:string" />
                                    <xs:attribute name="Longitude"
                                                  type="xs:decimal" />
                                    <xs:attribute name="Latitude"
                                                  type="xs:decimal" />
                                    <xs:attribute name="Velocity"
                                                  type="xs:int" />
                                    <xs:attribute name="Direction"
                                                  type="xs:int" />
                                    <xs:attribute name="Date"
                                                  type="xs:string" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportDataResponseType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Message">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="Header" />
              <xs:element name="Body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DataInsertResponse">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Status"
                                      type="xs:boolean" />
                          <xs:element name="Description"
                                      type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>